body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .forma {
        display: grid;
        gap: 1em;
        input {
            border: 0.1em solid skyblue;
            border-radius: 0.25em;
            font-size: 1em;
            outline: 0;
            transition: 0.2s;
            &:focus,
            &:active {
                border: 0.1em solid rgb(68, 156, 238);
            }
        }
        textarea {
            border: 0.15em solid skyblue;
            border-radius: 0.25em;
            font-size: 1em;
            outline: 0;
            transition: 0.2s;
            &:focus,
            &:active {
                border: 0.15em solid rgb(68, 156, 238);
            }
        }
        .razredi-options {
            display: flex;
            justify-content: space-between;
            .radio-list {
                display: flex;
                justify-content: center;
                gap: 1.2em;
                position: relative;
                .razredi-btn {
                    border: 0.15em solid skyblue;
                    border-radius: 0.25em;
                    background-color: transparent;
                    padding: 0.25em 0.5em;
                    transition: 0.2s;
                    cursor: pointer;
                    text-align: center;

                    &:hover {
                        border: 0.15em solid rgb(68, 156, 238);
                    }
                }
                .stick {
                    position: absolute;
                    width: 70%;
                    left: -1em;
                    top: 0.5em;
                    pointer-events: none;
                    &.option1 {
                        rotate: 0deg;
                    }
                    &.option2 {
                        rotate: 180deg;
                    }
                    //background-color: red;
                    transition: all 0.3s;
                    .dot {
                        width: 0.65em;
                        height: 0.65em;
                        border: 0;
                        border-radius: 50%;
                        background-color: rgb(68, 156, 238);
                    }
                }

                @keyframes orbit-animation {
                    0% {
                        transform: translateX(-50px) translateY(0px);
                    }
                    50% {
                        transform: translateX(50px) translateY(50px);
                    }
                    100% {
                        transform: translateX(-50px) translateY(0px);
                    }
                }
            }
        }

        .submit-btn {
            border: 0.15em solid skyblue;
            border-radius: 0.25em;
            background-color: transparent;
            padding: 0.25em 0.5em;
            transition: 0.2s;
            cursor: pointer;
            text-align: center;

            &:hover {
                border: 0.15em solid rgb(68, 156, 238);
            }
        }
    }
}
